table {
    width: 100%;
    /* Ширина таблицы */
    border: 4px double black;
    /* Рамка вокруг таблицы */
    border-collapse: collapse;
    /* Отображать только одинарные линии */
}

th {
    text-align: left;
    /* Выравнивание по левому краю */
    background: #ccc;
    /* Цвет фона ячеек */
    padding: 5px;
    /* Поля вокруг содержимого ячеек */
    border: 1px solid black;
    /* Граница вокруг ячеек */
    width: 20%;
}

td {
    padding: 5px;
    /* Поля вокруг содержимого ячеек */
    border: 1px solid black;
    /* Граница вокруг ячеек */
    width: 20%;
}

.disabled-background {
    background-color: rgb(233, 232, 232);
    color:rgb(126, 120, 120)
    
}

.disabled-background table td  {
    border: 1px solid rgb(180, 180, 180);
    pointer-events: none; 
}
.disabled-background table th  {
    border: 1px solid rgb(180, 180, 180);
    pointer-events: none; 

}
.selected { 
    background-color: rgb(246, 248, 105);
    color: black;
}

.id {
     color:rgb(50, 50, 163)
 }